<a href="https://colab.research.google.com/github/sultanardian/Deep-Learning-and-Data-Science/blob/main/Global%20Class/Global%20Class%20Python%20Data%20Preparation%20Home%20Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install haversine

Collecting haversine
  Downloading haversine-2.5.1-py2.py3-none-any.whl (6.1 kB)
Installing collected packages: haversine
Successfully installed haversine-2.5.1

In [ ]:
import pandas as pd
from haversine import haversine

In [ ]:
raw_data = pd.read_csv('/content/drive/MyDrive/Dataset/202109-citibike-tripdata.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
raw_data.head()

            ride_id rideable_type  ...    end_lng member_casual
0  22C33F42C6A0E28E  classic_bike  ... -73.965930        member
1  035F743147FCFCDE  classic_bike  ... -74.010000        member
2  9C43CF6A07DACBC6  classic_bike  ... -73.987167        casual
3  253A1A5B20CC78EE  classic_bike  ... -73.974515        member
4  5E8F164D6798CEFA  classic_bike  ... -73.987167        member

[5 rows x 13 columns]

## 1. How many rows in the NYC bikes September 2021 data?

In [ ]:
raw_data.shape[0]

3280221

## 2. How many rows with 'electric_bike' in the NYC bikes September 2021 data?

In [ ]:
raw_data[raw_data['rideable_type'] == 'electric_bike'].shape[0]

18

## 3. How many rows with 'member' and 'classic_bike' in the NYC bikes September 2021 data?

In [ ]:
raw_data[(raw_data['rideable_type'] == 'classic_bike') & (raw_data['member_casual'] == 'member')].shape[0]

1889711

## 4. What is overall average trip duration (in seconds)

In [ ]:
data = raw_data.copy()
data['started_at'] = pd.to_datetime(raw_data['started_at'])
data['ended_at'] = pd.to_datetime(raw_data['ended_at'])
data['trip_duration(s)'] = (data['ended_at'] - data['started_at']).astype('timedelta64[s]')
data.head()

            ride_id rideable_type  ... member_casual trip_duration(s)
0  22C33F42C6A0E28E  classic_bike  ...        member            998.0
1  035F743147FCFCDE  classic_bike  ...        member            999.0
2  9C43CF6A07DACBC6  classic_bike  ...        casual           1624.0
3  253A1A5B20CC78EE  classic_bike  ...        member            557.0
4  5E8F164D6798CEFA  classic_bike  ...        member            955.0

[5 rows x 14 columns]

In [ ]:
round(data['trip_duration(s)'].mean())

1059

## 5. What is the average trip duration (in seconds) in the weekend?

In [ ]:
weekend = ['Saturday', 'Sunday']
data['is_weekend'] = data['started_at'].map(lambda x : True if x.day_name() in weekend else False)
data.head()

            ride_id rideable_type  ...   day_name is_weekend
0  22C33F42C6A0E28E  classic_bike  ...  Wednesday      False
1  035F743147FCFCDE  classic_bike  ...   Saturday       True
2  9C43CF6A07DACBC6  classic_bike  ...     Monday      False
3  253A1A5B20CC78EE  classic_bike  ...    Tuesday      False
4  5E8F164D6798CEFA  classic_bike  ...     Sunday       True

[5 rows x 17 columns]

In [ ]:
round(data[data['is_weekend'] == True]['trip_duration(s)'].mean())

1227

## 6. What is the average trip duration (in seconds) in Monday?

In [ ]:
data['day_name'] = data['started_at'].map(lambda x : x.day_name())
data.head()

            ride_id rideable_type  ...   day_name is_weekend
0  22C33F42C6A0E28E  classic_bike  ...  Wednesday      False
1  035F743147FCFCDE  classic_bike  ...   Saturday       True
2  9C43CF6A07DACBC6  classic_bike  ...     Monday      False
3  253A1A5B20CC78EE  classic_bike  ...    Tuesday      False
4  5E8F164D6798CEFA  classic_bike  ...     Sunday       True

[5 rows x 17 columns]

In [ ]:
round(data[data['day_name'] == 'Monday']['trip_duration(s)'].mean())

1048

## 7. What is the overall average distace (in km) for non circle trip?

In [ ]:
def average_distance(datas):
    return haversine((datas['start_lat'], datas['start_lng']), ((datas['end_lat'], datas['end_lng'])))

In [ ]:
data['is_circle'] = data.apply(lambda x : True if x['start_station_id'] == x['end_station_id'] else False, axis = 1)
data['distance'] = data.apply(average_distance, axis = 1)

In [ ]:
round(data[data['is_circle'] == False]['distance'].mean())

2

## 8. What is the longest distance trip (in km)

In [ ]:
round(data['distance'].max())

26

## 9. What is the average distance (in km) for non circle trip for 'member'

In [ ]:
round(data[(data['is_circle'] == False) & (data['member_casual'] == 'member')]['distance'].mean())

2

## 10. How many circle trip in the data

In [ ]:
data[data['is_circle'] == True].shape[0]

79029